.blog-details-content {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    line-height: 1.6;
    text-align: start;
}

.blog-details-content h2, .blog-details-content h3 {
    color: #8b4513;
    margin-bottom: 1rem;
}

.blog-details-content ul {
    padding-left: 1.5rem;
}

.blog-details-content ul li {
    margin-bottom: 0.5rem;
}
