.website-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 424px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.website-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.website-card h1 {
    font-family: "Playfair Display", serif;
    color: #8b4513;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.website-card p {
    font-family: "Poppins", sans-serif;
    color: rgba(74,74,64, 0.8);
    font-weight: 700;
}