.comment-section {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    background: linear-gradient(135deg, #ffffff, #f8f9fa);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 12px;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.comment-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    color: #8b4513;
    border: 1px solid #8b4513;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover Effect */
.comment-btn:hover {
    background-color: #8b4513;
    color: white;
    transform: scale(1.05);
}

/* Active Effect */
.comment-btn:active {
    transform: scale(0.95);
}


.sign-in-message {
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    color: rgba(107, 114, 128);
}

.sign-in-message .sign-in-btn {
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    background-color: #8b4513;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-in-message .sign-in-btn:hover {
    transform: scale(1.05);
}

.sign-in-message .sign-in-btn:active {
    transform: scale(0.95);
}