.favorite-Section {
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.browse-all-recipes {
    color: rgb(139, 69, 19);
    font-weight: 500;
    line-height: 1.25rem;
    transition: color 0.3s ease;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.browse-all-recipes:hover {
    color: rgb(109, 60, 80);
    text-decoration: underline;
    transition: all 0.5s ease-in;
}