* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Playfair Display', serif;
}

html {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    min-height: 100vh;
    text-align: center;
    background-color: #f8f5f2;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

@keyframes leFadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}